
/* ==========================================================================
  High level containers
  ========================================================================== */
  .container {
    box-sizing: border-box;
}
.container--global {
}
.container--contents {
    max-width: 960px;
    margin: 2rem auto;
    background: #fff;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 5px 20px -5px rgba(50,50,93,.12), 0 3px 4px -2px rgba(0,0,0,.08);
    transition-duration: .5s;
}



/* ==========================================================================
  Title area
  ========================================================================== */
.overlay {
    background: rebeccapurple;
    margin: 0 auto -8rem;
    height: 16rem; /* actual height: 8rem */
}
.titles {
    max-width: 960px;
    margin: 0 auto;
    padding: 4rem;
    color: #fff;
}



/* ==========================================================================
  Headings
  ========================================================================== */
.heading {
    margin: 0 0 1rem;
    padding: 0;
}
.heading--titles {
    margin: 0 0 1rem;
}
.subheading {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.subheading--titles {
    font-size: 16px;
}



/* ==========================================================================
  Contents
  ========================================================================== */
.container--contents {
}